@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --font-family-inter: 'Inter', sans-serif;
    --font-family-lexend: 'Lexend Deca', sans-serif;
    --body-font-size: 15px;
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading-stats: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-heading: hsla(0, 0%, 100%, 0.6);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-inter);
    
}

body {
    background-color: var(--main-background);
}

.highlight {
    color: var(--accent);
}

h1, 
p.stat {
    color: var(--main-heading-stats);
    font-weight: 700;
}

h1 {
    font-size: 25px;
    max-width: 80%;
    margin-bottom: 2rem;
}

p {
    color: var(--main-paragraph);
    font-weight: 400;
    font-size: var(--body-font-size);
    margin-bottom: 2rem;
}

p.stat {
    font-size: 20px;
}

p.category {
    color: var(--stat-heading);
    font-weight: 400;
}

.card-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1080px;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    overflow: hidden;
    background-color: var(--card-background);
    display: flex;
}

img {
    height: auto;
    display: block;
}

.accent {
    width: 50%;
    position: relative;
}

.accent:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsla(277, 64%, 61%, 0.45);
}


.content {
    margin: 4rem;
}

.stats {
    display: flex;
    position: absolute;
    bottom: 0;
}